div.header {
  padding: 4px;
  font-size: 160%;
  font-weight: bolder;
  color: white;
  text-align: center;
}

div.version {
  position: absolute;
  right: 25px;
  text-align: right;
  line-height: 1.1em;
  font-size: 85%;
  color: #a8a8a8;
}
