div.header {
  padding: 4px;
  font-size: 160%;
  font-weight: bolder;
  color: white;
  text-align: center;
}

div.version {
  position: absolute;
  right: 10px;
  font-size: 85%;
  color: #292929;
}
