app-version {
  display: block;
  position: fixed;
  width: 100vw;
  height: 3.8em;
  background: var(--background);
  box-shadow: rgba(0,0,0,0.4) 2px 2px 3px 3px;
}

div.lastUpdated {
  padding: 0;
  margin: 0;
  color: #a8a8a8;
  text-align: center;
  font-size: 80%;
}

app-project-status-feed {
  padding-top: 4.5em;
  display: block;
}

app-notification-bar {
  position: absolute;

  app-throbber {
    margin-right: 20px;
  }
}
