div.wrapper {
  display: flex;
  flex-wrap: wrap;
  background: #292929;
  justify-content: center;

  ::ng-deep .build {
    text-align: center;
    padding: 4px;
    margin: 2px;
    min-width: 250px;
    height: 150px;
    background: #666666;
    border-radius: 5px;

    a {
      color: white;
      text-decoration: none;
      border-bottom: 1px dashed #BBBBBB;
    }

    .title {
      color: white;
      font-size: 105%;
      font-weight: bold;
    }

    .project-id {
      font-size: 75%;
    }

    &.success {
      background: #00AD68;
    }

    &.fail {
      background: #E7484D;
    }

    &.warning {
      background: orange;
    }

    &.running {
      background: #2d9fd8;
    }

    .extra {
      border-top: 1px solid rgba(0, 0, 0, .05) !important;
      position: static;
      margin: 0;
      padding: .75em 1em;
      color: rgba(0, 0, 0, .4);

      .user {
        display: block;
        text-align: left;
      }

      .build-id {
        display: inline-block;
        float: left;
      }

      .calendar {
        display: inline-block;
        float: right;
      }

      &::after {
        display: block;
        content: ' ';
        clear: both;
      }

      a {
        color: rgba(0, 0, 0, .4);
      }
    }
  }
}
